<html>
    <link rel="stylesheet" href='/static/style.css' />
    <body>
        <p>Hello {{ User }}</p>
        <form action="{{url_for('login_history')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <p>Search a user's logs:</p>
            <input type="text" id=userid name="username" placeholder="Username">
            <input type="submit" value="Submit">
        </form>
        {% if logs is not none %}
            <p>Logs:</p>
            {% for log in logs %}
                <p style="color:rgb(255, 102, 0);" >Login#{{log.id}}</p>
                <div id = login{{log.id}}><P style="color:rgb(0, 255, 98);" id = login{{log.id}}_time >{{ log.login }}</P><P style="color:rgb(0, 255, 98);" id = logout{{log.id}}_time >{{ log.logout }}</P></div>
            {% endfor %}
        {% endif %}
    </body>
</html>